/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  margin: 0;
  padding: 0;
}
.highscore-time-section {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.start-quiz-container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rule-container h2 {
  font-size: 1rem;
}
.rule-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  text-align: center;
}

.answer-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;
}
#question-section {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.display-correctness {
    text-align: center;
    font-size: 1rem;
}

.user-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.highscore-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}