/*copied basic css reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  margin: 0;
  padding: 0;
}

/*---added css---*/
/* used variable for multiple used color */
:root {
  --border-color: rgba(227, 222, 222, 0.881);
}
/* using class selector to design section of header */
.highscore-time-section {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
/* selecting class of the parent element to use flex property to display behavior to its child elements */
.start-quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* selecting h2 of class rule-container */
.rule-container h2 {
  font-size: 1rem;
}
.rule-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  text-align: center;
}

.answer-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;
}
/* selecting the id named question-section */
#question-section {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.display-correctness {
  text-align: center;
  font-size: 1rem;
}

.user-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.highscore-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.go-back-and-clear-button-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* selecting hte tag or element */
header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 0.5px 5px 0px rgb(219, 217, 217);
  margin-bottom: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  border: 1px solid var(--border-color);
  box-shadow: 0 0.5px 10px 0px var(--border-color);
  border-radius: 5px;
  width: 70%;
  padding: 1rem;
}
button {
  color: white;
  background-color: green;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
/* using pseudo class */
button:hover {
  background-color: rgba(0, 128, 0, 0.76);
}
.highscore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-shadow: 0 0.5px 10px 0px var(--border-color);
  border-radius: 5px;
  width: 50%;
  padding: 1rem;
  margin: 10% 30%;
}
.option {
  background-color:blueviolet;
  font-size: medium;
}
.option:hover {
  background-color: rgba(129, 76, 194, 0.811);
  font-weight: bold;
}
.score {
  display: flex;
  gap: 0.5rem;
}
.user-input-section h2 {
  font-size: 1.2rem;
}

.game-over h2{
  font-size: 1.2rem;
}